:root {
  --body-bg-image: url("/assets/images/stars3.gif");
  --content: #f1e4e4;
}

@font-face {
  font-family: "PixelOperator8";
  src: url("/assets/font/PixelOperator8.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PixelOperator8", sans-serif;
  margin: 0;
  color: var(--content);
  background-image: var(--body-bg-image);
  font-size: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  height: 220px;
}

header p {
  color: #17e917;
}

header h1 {
  font-size: 3rem;
}

header #page-title {
  display: flex;
  width: 50%;
  min-width: 600px;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 1.25rem;
}

nav ul {
  list-style: none;

  display: flex;
  justify-content:space-evenly;
}

nav li {
  padding: 1rem 2rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 45px 90px;
  width: 70vw;

  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
  border-collapse: separate;
  border-color: #e917bc;

  margin-bottom: 20px;
}

#home {
  height: calc(100vh - 230px);
  border-color: #6b0fb6;
  background: url("/assets/images/banner.png") no-repeat center center fixed;
  background-size: cover;
  color: #6b0fb6;
  font-size: 40px;
}

#top {
  border-color: #13ace9f5;
  background-image: url("/assets/images/tealsilkbg.jpeg");
  background-size: 65px;
}
#top h1,
li,
a {
  padding: 1rem;
  color: #6b0fb6;
}
#top a {
  text-decoration: none;
  padding: 0;
}
#top a:hover {
  color: #17e917;
}
#top-3 {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
}
.podium {
  display: flex;
  align-items: center;
}
.podium a:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.podium a:hover p {
  margin-top: 10px; /* Agrega un margen superior cuando el mouse se coloca sobre la imagen */
}
#artist {
  border-color: #4fcc3eee;
  background-image: url("/assets/images/grass.png");
}
.artist-stuff {
  display: flex;
  margin-bottom: 1rem;
}
.artist-description,
.artist-comments {
  width: 50%;
  padding: 0px 1rem;
}
.artist-description img {
  width: 100%;
  padding-bottom: 1rem;
}
#artist h1,
h2,
h3 {
  margin-bottom: 1rem;
  color: #f55e23f5;
}
.comment {
  height: 30%;
  margin: 1rem 0;
  background-color: #4fcc3eee;
  display: flex;

  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
  border-collapse: separate;
  border-color: #4fcc3eee;
}
.comment-img {
  width: 25%;
  background-color: #000000;
}
.comment-rating {
  width: 75%;
  padding: 5px;
}
.comment-img img {
  width: 100%;
  height: 100%;
}

#events {
  border-color: #f1ff33ee;
  background-image: url("/assets/images/goldglitter.gif");
  color: #000000;
}
#events h1 {
  padding-bottom: 1rem;
}
#events table,
th,
td {
  border: 1px solid #f3fd61dc;
  background-color: #fffb00ee;
  border-style: outset;
}
.event-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.event {
  border: 5px solid #f3fd61dc;
  background-color: #fffb00ee;
  border-style: outset;

  width: 32%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 2.5px;
}
.event-image {
  height: 60%;
  width: 100%;
}
.event-image img {
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
}
.event-details {
  height: 40%;
  width: 100%;
  background-color: #fffb00ee;
}

footer {
  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
  border-collapse: separate;
  border-color: #ec3434;
  background-image: url("/assets/images/037.gif");

  text-align: center;
}
input, textarea, button, footer>p{
  margin-bottom: 1rem;
}

#go-up {
  cursor: pointer;

  position: fixed;
  bottom: 25px;
  right: 25px;

  transition: transform 0.3s ease-in-out;

  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
  border-collapse: separate;
  border-color: #e917bc;
}
#go-up img {
  width: 40px;
  height: auto;
}
#go-up:hover {
  transform: translateY(
    -10px
  ); /* Mover hacia arriba cuando el cursor esté sobre el botón */
}
#social-media a {
  display: inline-block;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

#social-media img {
  width: 30px;
  height: 30px;
}

#social-media a:hover {
  transform: translate(-2px, -2px) rotate(2deg);
}

@media screen and (max-width: 1440px) {
  body {
    font-size: 14px;
  }

  section {
    padding: 40px 70px;
  }
  .turn-invisible {
    display: none;
  }
  #top-3 {
    align-items: center;
    justify-content: center;
  }

  .artist-description,
  .artist-comments {
    width: 100%;
    padding: 0px 1rem;
  }
  .event {
    width: 30%;
  }
}

@media screen and (max-width: 1024px) {
  header > h1 {
    font-size: 2rem;
  }
  body {
    font-size: 13px;
  }

  section {
    padding: 40px 50px;
  }

  section > h1 {
    font-size: 1.5rem;
  }
  nav li, a {
    padding: 5px;
    font-size: 15px;
  }

  .turn-invisible {
    display: none;
  }
  .artist-description,
  .artist-comments {
    width: 100%;
    padding: 0px 1rem;
  }
  .artist-stuff {
    flex-direction: column;
    width: 100%;
  }

  .event {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {

  header #name-text {
    width: 300px;
  }


  nav li, a {
    padding: 5px;
    font-size: 13px;
  }
  #page-title > h1 {
    font-size: 1rem;
  }

  nav {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 1rem;
  }


  body {
    font-size: 12px;
  }

  section {
    padding: 40px px;
  }
  .turn-invisible {
    display: none;
  }
  .artist-stuff {
    flex-direction: column;
    width: 100%;
  }
  .event {
    width: 100%;
  }
}
